**ЗАДАНИЕ 2.3**
Напишите функцию delete_columns(df, col=[]), которая удаляет столбцы из DataFrame и возвращает новую таблицу. Если одного из указанных столбцов не существует в таблице, то функция должна возвращать None. Удалите выбранные вами столбцы из таблицы customer_df.

In [11]:
import pandas as pd

def delete_columns(df, col=[]):
    try:
        df = df.drop(col, axis=1)
        return df
    except KeyError as e:
        return None
    
    
if __name__ == '__main__':
    customer_df = pd.DataFrame({
        'number': [0, 1, 2, 3, 4],
        'cust_id': [128, 1201, 9832, 4392, 7472],
        'cust_age': [13, 21, 19, 21, 60],
        'cust_sale': [0, 0, 0.2, 0.15, 0.3],
        'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
        'cust_order': [1400, 14142, 900, 1240, 8430]
    })
    columns_for_delete= ["num"] #выбранные вами столбцы
    new_df = delete_columns(customer_df, columns_for_delete)
    print(new_df)

None

**Задание 2.4**<br>
Задан DataFrame countries_df, содержащий следующие столбцы: название страны, население (population) в миллионах человек и площадь страны (square) в квадратных километрах<br>
Для каждой страны рассчитайте плотность населения (количество человек на квадратный километр).<br>
Затем по полученным данным рассчитайте среднее по плотностям населения в указанных странах. Ответ округлите до сотых.<br>
Плотность населения рассчитывается как количество человек, проживающих на территории отдельной страны, делённое на площадь этой страны. Обратите внимание, что население в таблице представлено в миллионах.<br>

In [23]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df["Dencity"] = ((countries_df['population'])*10**6)/countries_df['square']
round((countries_df["Dencity"].mean()), 2)

84.93

**Задание 3.3**<br>
Создайте в таблице melb_df признак WeekdaySale (день недели). Найдите, сколько объектов недвижимости было продано в выходные (суббота и воскресенье), результат занесите в переменную weekend_count. В качестве ответа введите результат вывода переменной weekend_count.

In [43]:
import pandas as pd

melb_data = pd.read_csv('C:\Курс DS-3.0\IDE\Python_10\data\melb_data.csv', sep=',')
melb_df = melb_data.copy()
melb_df["Date"] = pd.to_datetime(melb_df["Date"], dayfirst=True)
melb_df["WeekdaySale"] = melb_df["Date"].dt.dayofweek
weekend_count = melb_df[(melb_df["WeekdaySale"]==5) | (melb_df["WeekdaySale"]==6)].shape[0]
display(weekend_count)
melb_df.info()

12822

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  datetime64[ns]
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
 23  WeekdaySale    13580 non-null  int64
dtypes: datetime64[ns](1), float64(11), int64(4), object(8)
memory usage: 2.5+ MB

In [4]:
melb_df['Suburb']

0           Abbotsford
1           Abbotsford
2           Abbotsford
3           Abbotsford
4           Abbotsford
             ...
13575    Wheelers Hill
13576     Williamstown
13577     Williamstown
13578     Williamstown
13579       Yarraville
Name: Suburb, Length: 13580, dtype: object

**Задание 3.4**<br>
###### $\color{red}{\text{Задание 3.5}}$
Вам представлены данные (в формате csv) об отчётах очевидцев НЛО в США за период с 1930 по 2020 год.<br>
В данных есть следующие признаки:<br>
"City" — город, где был замечен НЛО;<br>
"Colors Reported" — цвет объекта;<br>
"Shape Reported" — форма объекта;<br>
"State" — обозначение штата;<br>
"Time" — время, когда был замечен НЛО (данные отсортированы от старых наблюдений к новым). <br>

In [74]:
#В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?
import pandas as pd

nlo_USA_statistic = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv', sep=',')
nlo_USA_statistic_new = nlo_USA_statistic.copy()
nlo_USA_statistic_new["Time"] = pd.to_datetime(nlo_USA_statistic_new["Time"], dayfirst=True)
years_nlo = nlo_USA_statistic_new["Time"].dt.year
print(years_nlo.mode()[0])

1999

In [84]:
#Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО 
#в штате Невада (NV).
nlo_USA_statistic_new["Date"] = nlo_USA_statistic_new["Time"].dt.date
round(nlo_USA_statistic_new[nlo_USA_statistic_new["State"]=="NV"]["Date"].diff().dt.days.mean())

69

**Задание 4.2**

Ранее, в задании 3.3, мы создали признак WeekdaySale в таблице melb_df — день недели продажи. Из полученных в задании результатов можно сделать вывод, что объекты недвижимости в Мельбурне продаются преимущественно по выходным (суббота и воскресенье).
Напишите функцию get_weekend(weekday), которая принимает на вход элемент столбца WeekdaySale и возвращает 1, если день является выходным, и 0 — в противном случае, и создайте столбец Weekend в таблице melb_df с помощью неё.

Примените эту функцию к столбцу и вычислите среднюю цену объекта недвижимости, проданного в выходные дни. Результат округлите до целых.

In [97]:
def get_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else:
        return 0
melb_df["Weekend"] = melb_df['WeekdaySale'].apply(get_weekend)
melb_df["Weekend"]
print(round(melb_df[melb_df["Weekend"]== 1]["Price"].mean(), 2))

1081198.64

**Задание 4.3**

Преобразуйте столбец SellerG с наименованиями риелторских компаний в таблице melb_df следующим образом: оставьте в столбце только 49 самых популярных компаний, а остальные обозначьте как 'other'.
Найдите, во сколько раз минимальная цена объектов недвижимости, проданных компанией 'Nelson', больше минимальной цены объектов, проданных компаниями, обозначенными как 'other'. Ответ округлите до десятых.

In [127]:
SellerG_popular = melb_df["SellerG"].value_counts().nlargest(49)

melb_df["SellerG_popular"] = melb_df["SellerG"].apply(lambda x: x if x in SellerG_popular else "other")

Nelson_min_price = melb_df[melb_df["SellerG_popular"] == "Nelson"]["Price"].min()
other_min_price = melb_df[melb_df["SellerG_popular"] == "other"]["Price"].min()
print(round((Nelson_min_price/other_min_price), 1))

1.3

**Задание 4.4**

Представьте, что вы занимаетесь подготовкой данных о вакансиях с платформы hh.ru. В вашем распоряжении имеется таблица, в которой с помощью парсинга собраны резюме кандидатов. В этой таблице есть текстовый столбец «Опыт работы». Пример такого столбца представлен ниже в виде объекта Series. Структура текста в столбце фиксирована и не может измениться.

Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы. Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.

In [140]:
import pandas as pd

def get_experience(arg):
    onth_key_words = ['месяц', 'месяцев', 'месяца']
    year_key_words = ['год', 'лет', 'года']
    #words = arg.split(' ')
    #mounths = 0
    #if words[-1] in onth_key_words:
        #mounths += int(words[-2])
    #if words[-1] in year_key_words:
        #mounths += int(words[-2])*12
    #if words[-3] in year_key_words:
        #mounths += int(words[-4])*12
    #return mounths
   # ИЛИ
    args_splited = arg.split(' ')
    month = 0
    year = 0
    for i in range(len(args_splited)):
        if args_splited[i] in month_key_words:
            month = args_splited[i-1]
        if args_splited[i] in year_key_words:
            year = args_splited[i-1]
    return int(year)*12 + int(month)

if __name__ == '__main__':
    experience_col = pd.Series([
        'Опыт работы 8 лет 3 месяца',
        'Опыт работы 3 года 5 месяцев',
        'Опыт работы 1 год 9 месяцев',
        'Опыт работы 3 месяца',
        'Опыт работы 6 лет'
        ])
    experience_month = experience_col.apply(get_experience)
    print(experience_month)

0    99
1    41
2    21
3     3
4    72
dtype: int64

**Задание 5.2**
С помощью метода **info()** узнайте, сколько памяти занимает таблица melb_df.
Преобразуйте признак Suburb следующим образом: оставьте в столбце только 119 наиболее популярных пригородов, остальные замените на 'other'.
Приведите данные в столбце Suburb к категориальному типу.
В качестве ответа запишите разницу между объёмом занимаемой памяти до преобразования (который мы получили ранее в модуле) и после него в Мб. Ответ округлите до десятых.

In [3]:
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  datetime64[ns]
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
 23  WeekdaySale    13580 non-null  int64
dtypes: datetime64[ns](1), float64(11), int64(4), object(8)
memory usage: 2.5+ MB

In [40]:
Suburb_popular = melb_df['Suburb'].value_counts().nlargest(119)
melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in Suburb_popular else 'other')
melb_df['Suburb'] = melb_df['Suburb'].astype("category")
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  category
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  datetime64[ns]
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
 23  WeekdaySale    13580 non-null  int64
dtypes: category(1), datetime64[ns](1), float64(11), int64(4), object(7)
memory usage: 2.4+ MB

**Задание 6.1-2**
Сколько пропусков в столбце start station id?

In [119]:
import pandas as pd

Citi_bike = pd.read_csv('C:\Курс DS-3.0\IDE\Python_11\data\citibike-tripdata.csv', sep=',')

In [120]:
Citi_bike_df = Citi_bike.copy()

In [54]:
Citi_bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

**Задание 6.3**

Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [61]:
Citi_bike_df["start station id"].mode()[0]

281.0

**Задание 6.4**

Велосипед с каким идентификатором является самым популярным?

In [62]:
Citi_bike_df["bikeid"].mode()[0]

33887

**Задание 6.5**

Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [67]:
Citi_bike_df["usertype"].value_counts(normalize=True)

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

**Задание 6.6**

Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [68]:
Citi_bike_df["gender"].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

**Задание 6.7**

In [75]:
# 1 Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу
Citi_bike_df["end station name"].value_counts()
#Citi_bike_df["start station name"].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [81]:
# 2 В рассматриваемые дни минимальный возраст клиента составлял 10 лет
Citi_bike_df["birth year"].max()

2002

In [ ]:
# 3 Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием "Eastern Pkwy & Washington Ave"

In [ ]:
# 4 Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail"

**Задание 6.8**

В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

In [84]:
Citi_bike.info()
#Citi_bike_df = Citi_bike_df.drop(["start station id", "end station id"], axis=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

**Задание 6.9**<br>
Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [93]:
#Citi_bike_df['age'] = 2018 - Citi_bike_df["birth year"]
#Citi_bike_df = Citi_bike_df.drop(["birth year"], axis=1)
Citi_bike[Citi_bike_df["age"]>60].shape[0]

11837

**Задание 6.10**<br>
Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [123]:
Citi_bike_df["stoptime"] = pd.to_datetime(Citi_bike_df["stoptime"], dayfirst=True)
Citi_bike_df["starttime"] = pd.to_datetime(Citi_bike_df["starttime"], dayfirst=True)
Citi_bike_df["trip duration"] = Citi_bike_df["stoptime"].dt.minute - Citi_bike_df["starttime"].dt.minute
Citi_bike_df["trip duration"].loc[3]

7

**Задание 6.11**<br>
Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

In [117]:
weekday = Citi_bike_df["starttime"].dt.dayofweek            
Citi_bike_df["weekend"] = weekday.apply(lambda x: 1 if x==5 or x==6 else 0)
Citi_bike_df["weekend"].sum()

115135

**Задание 6.12**

Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:
поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).
Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

In [133]:
def get_time(hour):
    if hour >= 0 and hour <= 6:
        return "night"
    elif hour >6 and hour <= 12:
        return "morning"
    elif hour > 12 and hour <= 18:
        return "day"
    else:
        return "evening"
time_of_day = Citi_bike_df["starttime"].dt.hour
Citi_bike_df["time_of_day"] = time_of_day.apply(get_time)
round(Citi_bike_df[Citi_bike_df["time_of_day"]=="day"].shape[0]/Citi_bike_df[Citi_bike_df["time_of_day"]=="night"].shape[0])

9