In [3]:
import pandas as pd

In [8]:
#Задание 2.3 Какими из нижеперечисленных способов можно достать из него числа 6, 7 и 9?
my_series = pd.Series(data=[5, 6, 7, 8, 9, 10], index=['a', 'b', 'c', 'd', 'e', 'f'])
my_series[['b','c','e']]
my_series.iloc[[1,2,4]]

b    6
c    7
e    9
dtype: int64

*ЗАДАНИЕ 2.4* В аптеку поступают партии лекарств. Их названия находятся в списке names, количество единиц товара находится в списке counts.
Напишите функцию create_medications(names, counts), создающую Series medications, индексами которого являются названия лекарств names, а значениями — их количество в партии counts.
Также напишите функцию get_percent(medications, name), которая возвращает долю товара с именем name от общего количества товаров в партии в процентах.

In [18]:
def create_medications(names, counts):
    medications = pd.Series(
        index = names,
        data = counts,
    )
    return medications
def get_percent(medications, name):
    return (medications.loc[name]/sum(medications))*100
# ИЛИ
#def get_percent(medications, name):
    #return (medications.[[name]]/sum(medications.iloc[::]))*100
    
if __name__ == '__main__':
    names=['chlorhexidine', 'cyntomycin', 'afobazol']
    counts=[15, 18, 7]
    medications = create_medications(names, counts)
    print(get_percent(medications, "chlorhexidine"))

37.5

**ЗАДАНИЕ 3.5** Вы работаете аналитиком в компании ScienceYou. Ваша задача — проанализировать чистую прибыль.

Доходы (incomes), расходы (expenses) и годы (years), соответствующие им, предоставлены вам в виде списков. 
Создайте функцию create_companyDF(incomes, expenses, years), которая  возвращает DataFrame, составленный из входных данных со столбцами Incomes и Expenses и индексами, соответствующими годам рассматриваемого периода.
акже напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, записанными в таблице df, за год year. Учтите, что если информация за запрашиваемый год не указана в вашей таблице, вам необходимо вернуть None.

In [19]:
def create_companyDF(incomes, expenses, years):
    df = pd.DataFrame({
        "incomes" : incomes,
        "expenses" : expenses
    })
    df.index = years
    return df

def get_profit(df, year):
    try:
        profit = df.loc[year, "incomes"] - df.loc[year, "expenses"]
        return profit
    except KeyError as e:
        return None

if __name__ == '__main__':
    expenses = [156, 130, 270]
    incomes = [478, 512, 196]
    years = [2018, 2019, 2020]
    
    scienceyou = create_companyDF(incomes, expenses, years)
    #print(scienceyou)
    print(get_profit(scienceyou, 2017))

None

In [1]:
import pandas as pd

melb_data = pd.read_csv("C:\Курс DS-3.0\IDE\Python_10\data\melb_data.csv", sep=",")
melb_data.loc[:]

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,"-37.8072, 144.9941"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,652.0,126.0,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,"-37.90562, 145.16761"
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,"-37.85927, 144.87904"
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,4.0,436.0,126.0,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,"-37.85274, 144.88738"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,"-37.85908, 144.89299"
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,"-37.81188, 144.88449"

**Задание 5.3**

In [24]:
round(melb_data.loc[3521, "Landsize"]/melb_data.loc[1690, "Landsize"])

3

**Задание 6.5**

In [10]:
13580 - melb_data["CouncilArea"].count()

1369

**Задание 6.9**

In [14]:
round(melb_data["Type"].value_counts(normalize = True), 2)*100

h    70.0
u    22.0
t     8.0
Name: Type, dtype: float64

**Задание 7.1** <br>
Для каких столбцов метод std() выполнится с ошибкой?

In [6]:
import pandas as pd
melb_data = pd.read_csv("C:\Курс DS-3.0\IDE\Python_10\data\melb_data.csv", sep=",")
melb_data["Date"].std()

TypeError: could not convert string to float: '3/12/2016'

**Задание 7.2** <br>
Чему равно максимальное количество домов на продажу в районе (Propertycount)?

In [7]:
melb_data["Propertycount"].max()

21650.0

**Задание 7.3**<br>
Чему равно стандартное отклонение (разброс) расстояния от центра города до объекта недвижимости?

In [8]:
round(melb_data["Distance"].std())

6

**Задание 7.4**<br>
Чему равно отклонение (в процентах) медианного значения площади здания от его среднего значения?

In [9]:
buildingArea_median = melb_data["BuildingArea"].median()
buildingArea_mean = melb_data["BuildingArea"].mean()
print(round((abs(buildingArea_median-buildingArea_mean)/buildingArea_mean)*100))

10

**Задание 7.5**<br>
Задан ряд чисел [1, 2, 4, 2, 3, 2, 1, 5, 6]. Чему равна мода в данном ряду?

In [21]:
new_list = [1,2,4,2,3,2,1,5,6]
new_list_Series = pd.Series(data = new_list)
new_list_Series.mode()

0    2
dtype: int64

**Задание 7.6**<br>
Сколько спален чаще всего встречается в домах в Мельбурне?

In [23]:
round(melb_data["Rooms"].mean())

3

**Задание 8.1**<br>
У скольких объектов недвижимости из таблицы melb_data отсутствуют ванные комнаты?

In [15]:
melb_data[melb_data["Bathroom"]==0].shape[0]

34

**Задание 8.2**<br>
Сколько в таблице melb_data объектов недвижимости, которые были проданы риелторской компанией Nelson и стоимость которых составила больше 3 миллионов?

In [45]:
melb_data[(melb_data["SellerG"]=="Nelson")&(melb_data["Price"]>3000000)].shape[0]

5

**Задание 8.3** <br>
Какова минимальная стоимость участка без здания (площадь здания равна 0) в таблице melb_data?

In [18]:
melb_data[melb_data["BuildingArea"]==0].min()

C:\Users\User\AppData\Local\Temp\ipykernel_396\3370837562.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  melb_data[melb_data["BuildingArea"]==0].min()

index                            4344
Suburb                   Balwyn North
Address                   1 Hosken St
Rooms                               2
Type                                h
Price                        412500.0
Method                             PI
SellerG                         Barry
Date                       19/08/2017
Distance                          2.3
Postcode                         3051
Bedroom                           2.0
Bathroom                          1.0
Car                               1.0
Landsize                        120.0
BuildingArea                      0.0
YearBuilt                      1910.0
Lattitude                   -37.94492
Longtitude                    144.911
Regionname       Eastern Metropolitan
Propertycount                   768.0
Coordinates        -37.57687, 144.911
dtype: object

**Задание 8.4**<br>
Какова средняя цена объектов недвижимости в таблице melb_data с ценой менее одного миллиона, в которых либо количество комнат больше пяти, либо здание моложе 2015 года?

In [11]:
round(melb_data[(melb_data["Price"]<1000000) & ((melb_data["Rooms"]>5) | (melb_data["YearBuilt"]>2015))]["Price"].mean())

769239

**Задание 8.5** <br>
В каком районе Мельбурна чаще всего продаются виллы и коттеджи (тип здания — h) с ценой меньше трёх миллионов?

In [19]:
melb_data[(melb_data["Type"]=="h") & (melb_data["Price"]<3000000)]["Regionname"].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object

**Задание 9.1**<br>
Данные о скольких студентах содержатся в таблице?

In [52]:
import pandas as pd
student_data = pd.read_csv("data/students_performance.csv", sep=";")
student_data.shape[0]

1000

In [56]:
import pandas as pd

student_data = pd.read_csv("C:\Курс DS-3.0\IDE\Python_10\data\students_performance.csv", sep=",")

**Задание 9.2** <br>
Каков балл по письму у студента под индексом 155?

In [57]:
student_data.loc[155, 'writing score']

88

**Задание 9.3**<br>
Сколько суммарно пропущенных значений в таблице?

In [59]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

**Задание 9.4**<br>
Сколько столбцов в таблице имеет тип данных object?

In [63]:
student_data.info(object)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

**Задание 9.5**<br>
Какой объём памяти (в килобайтах) занимает таблица?

In [64]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

**Задание 9.6**<br>
Каков у студентов средний балл по математике?

In [66]:
round(student_data["math score"].mean())

66

**Задание 9.7**<br>
Какая расовая группа является самой крупной в учебном заведении?

In [68]:
student_data["race/ethnicity"].mode()

0    group C
Name: race/ethnicity, dtype: object

**Задание 9.8**<br>
Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

In [72]:
round(student_data[(student_data["test preparation course"]=='completed')]["reading score"].mean())

74

**Задание 9.9**<br>
Сколько студентов получили 0 баллов по математике?

In [73]:
student_data[(student_data["math score"]==0)].shape[0]

1

**Задание 9.10**<br>
Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

In [79]:
round(student_data[(student_data['lunch']=="standard")]["math score"].mean())

70

**Задание 9.11**<br>
Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?

In [85]:
round(student_data['parental level of education'].value_counts(normalize = True)*100)

some college          23.0
associate's degree    22.0
high school           20.0
some high school      18.0
bachelor's degree     12.0
master's degree        6.0
Name: parental level of education, dtype: float64

**Задание 9.12**<br>
Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

In [93]:
round(abs(student_data[(student_data['race/ethnicity']=="group A")]["writing score"].median()-student_data[(student_data['race/ethnicity']=="group C")]["writing score"].mean()))

6